bin
tmp
MPLABXLog.xml*
build-deb
bundle
debian/debhelper-build-stamp
debian/files
debian/uecide.debhelper.log
debian/uecide.postinst.debhelper
debian/uecide.postrm.debhelper
debian/uecide.substvars
debian/uecide/
documentation/
thirdparty
thirdparty
thirdparty
thirdparty
uecide.jar
