bin
tmp
MPLABXLog.xml*
build-deb
bundle
debian/debhelper-build-stamp
debian/files
debian/uecide.debhelper.log
debian/uecide.postinst.debhelper
debian/uecide.postrm.debhelper
debian/uecide.substvars
debian/uecide/
documentation/
thirdparty
uecide.jar
resources/org/uecide/changelog.html
UECIDE-l4j-cli.xml
UECIDE-l4j-gui.xml
deps
