Source: uecide
Section: embedded
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper, javahelper, ant
Standards-Version: 3.9.3
Homepage: http://uecide.org

Package: uecide
Architecture: all
Depends: openjdk-7-jdk
Recommends: ${java:Recommends}
Description: Universal Embedded Computing IDE
 One IDE to rule them all, one IDE to find them.
 One IDE to bring them all, and in the darkness bind them.
